<div class="gst-wrapper">
  <div class="header">
    <div class="title">
      <div class="btn btn-light" (click)="navigateToGsts()">
        <i class="bi bi-arrow-left-short"></i>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="this.gstId === 'create' || gst; else noGst"
  ></ng-container>

  <div class="gst-details">
    <div class="invoices-list">
      <div class="text-secondary fw-bold fs-6 text-uppercase form-header">
        Select Invoices
      </div>

      <div class="invoices">
        <div class="invoice" *ngFor="let invoice of invoices">
          <div
            class="select-option fs-6 text-success"
            (click)="selectInvoice(invoice.invoice_no)"
          >
            <i
              *ngIf="
                selectedInvoices.includes(invoice.invoice_no);
                else unchecked
              "
              class="bi bi-check-square-fill"
            ></i>
            <ng-template #unchecked>
              <i class="bi bi-square"></i>
            </ng-template>
          </div>

          <div class="invoice-details">
            <div class="invoice-basic-info">
              <div class="text-dark fs-4 fw-bold">{{ invoice.invoice_no }}</div>
              <div class="d-flex align-items-center gap-3">
                <span class="text-danger fs-6 fw-bold">{{ invoice.date }}</span>

                <span class="text-secondary text-uppercase fw-bold">{{
                  invoice.company_name
                }}</span>
              </div>
            </div>

            <div class="invoice-amount-info text-success fw-bold">
              <div *ngIf="invoice.sgst">
                <span class="text-dark">SGST:</span>
                <span> {{ invoice.sgst }} ₹ </span>
              </div>
              <div *ngIf="invoice.cgst">
                <span class="text-dark">CGST:</span>
                <span> {{ invoice.cgst }} ₹ </span>
              </div>
              <div *ngIf="invoice.igst">
                <span class="text-dark">IGST:</span>
                <span> {{ invoice.igst }} ₹ </span>
              </div>
              <div>
                <span class="text-dark">TOTAL:</span>
                <span class="fs-6"> {{ invoice.grand_total }} ₹ </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="pagination"></div> -->
    </div>

    <div class="gst-options">
      <div
        *ngIf="false"
        class="gst-filters"
        [ngClass]="{
          active: showSearchFilterTab
        }"
      >
        <div
          class="header text-secondary fw-bold fs-6 text-uppercase"
          (click)="toggleSearchFiltersTab()"
        >
          Search/Filters
        </div>

        <div *ngIf="showSearchFilterTab" class="options">
          <div class="search-section">Search</div>

          <div class="filters-section">Filters</div>

          <div class="btns-section">
            <div class="btn btn-outline-danger fs-6">
              <i class="bi bi-file-x-fill"></i> Reset
            </div>

            <div class="btn btn-outline-danger fs-6">
              Apply <i class="bi bi-caret-right-fill"></i>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="gstForm">
        <div class="text-secondary fw-bold fs-6 text-uppercase form-header">
          GST Details
        </div>

        <div class="input-section">
          <app-input
            label="Month Name"
            placeholder="Enter month name"
            type="text"
            [formControl]="getControl('month_name')"
          ></app-input>

          <app-input
            label="Year"
            type="number"
            placeholder="Enter year"
            [formControl]="getControl('year')"
          ></app-input>
        </div>

        <div
          *ngIf="selectedInvoices.length"
          class="amount-section text-success fw-bold"
        >
          <section class="py-1" *ngIf="sgstAmount">
            <span class="text-dark fs-6">SGST:</span>
            {{ sgstAmount.toFixed(0) }} ₹
          </section>

          <section class="py-1" *ngIf="cgstAmount">
            <span class="text-dark fs-6">CGST:</span>
            {{ cgstAmount.toFixed(0) }} ₹
          </section>

          <section class="py-1" *ngIf="igstAmount">
            <span class="text-dark fs-6">IGST:</span>
            {{ igstAmount.toFixed(0) }} ₹
          </section>

          <section class="total-amount fs-4 py-2" *ngIf="totalAmount">
            <span class="text-dark fs-6">TOTAL:</span>
            {{ totalAmount.toFixed(0) }} ₹
          </section>
        </div>

        <div *ngIf="gstForm.valid" class="btns">
          <button
            type="button"
            class="btn btn-light text-success"
            (click)="onSubmit()"
          >
            + Save Details
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #noGst>
  <div class="loader-wrapper">
    <div class="spinner-border" role="status"></div>
  </div>
</ng-template>
