<div class="main-container">
  <div class="info-container">
    <i class="bi bi-houses" title="Companies"></i>
    <div class="text">Companies</div>
  </div>

  <div class="options-container">
    <div
      class="option"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasCompaniesTab"
      aria-controls="offcanvasCompaniesTab"
    >
      <i class="bi bi-plus-circle"></i>
      <div class="option-text">Add Company</div>
    </div>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasCompaniesTab"
      aria-labelledby="offcanvasCompaniesTabLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCompaniesTabLabel">
          {{ offcanvasTitle }}
        </h5>
        <div data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
      <div class="offcanvas-body">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Enter company name"
            value="{{ inputCompanyName }}"
          />
          <label for="floatingInput">Company Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Enter company name"
            value="{{ inputCompanyAddress }}"
          />
          <label for="floatingInput">Company Address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Enter company name"
            value="{{ inputCompanyGSTINNumber }}"
          />
          <label for="floatingInput">Company GSTIN Number</label>
        </div>

        <button class="btn btn-primary" type="button">Submit</button>
      </div>
    </div>
  </div>

  <div class="body-container"></div>
</div>
