<div class="home-container">
  <div class="body-container">
    <div class="switch-btns" (click)="switchComponent('invoice')">
      <i class="bi bi-file-earmark-post" title="Invoice"></i>
      <div class="text">Invoice</div>
    </div>
    <div class="switch-btns" (click)="switchComponent('gst')">
      <i class="bi bi-file-earmark-ruled" title="GST"></i>
      <div class="text">GST</div>
    </div>
    <div class="switch-btns" (click)="switchComponent('companies')">
      <i class="bi bi-houses" title="Companies"></i>
      <div class="text">Companies</div>
    </div>
  </div>
</div>
