<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!loggedIn" class="form-wrapper">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h1 class="title">Login</h1>
      <div class="subtitle">Welcome Indra, please enter your password!</div>

      <section>
        <input
          type="password"
          placeholder="Enter password"
          formControlName="password"
          autofocus
        />
      </section>

      <button
        type="submit"
        [disabled]="loginForm.get('password')?.value !== originalPassword"
      >
        Login
      </button>
    </form>
  </div>
</div>
