<div class="page-not-found-wrapper">
  <div class="image">
    <img src="page-not-found.jpg" type="image/*" alt="page-not-found" />
  </div>

  <div class="content">
    <div class="info">
      <div class="text-secondary fs-3 fw-bold">Page Not Found</div>
      <div class="text-secondary fs-6">
        Oops! The page you are looking for is not found.
      </div>
    </div>
    <div class="options">
      <div class="btn btn-danger fw-bold" (click)="navigateToHome()">
        Go to Home
      </div>
    </div>
  </div>
</div>
