.manage-gsts-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 24px 42px;
  font-family: "Manrope", "Roboto";
  overflow: hidden;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      letter-spacing: 2px;
    }
  }

  .gsts-details {
    width: 100%;
    height: 100%;
    padding: 12px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;

    .gsts-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .gsts-list {
      width: 100%;
      height: 100%;
      padding: 12px 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 12px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .gst {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 12px 32px;
        border-radius: 8px;
        border: 1px solid rgba(211, 211, 211, 0.4);
        transition: all 0.3s ease-in-out;
        font-size: 14px;

        .gst-details {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 4px;

          .gst-info-section {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
          }
        }

        .gst-options {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 16px;

          .btn {
            border-radius: 8px;
            padding: 8px 16px;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.15);
              background: transparent;
            }
          }
        }
      }
    }
  }

  .no-gsts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }
}

.modal {
  .modal-body {
    .deleting-gst-details {
      font-size: small;
    }
  }
}
